.countries
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}

.headers
{
    margin: 50px auto;
    width:100%;
    text-align: center;
}
.world
{
    font-size: 65px;
    margin:15px 0px;
    color:rgba(255,195.95,1);
    
    
}
.total-country
{
    font-size: 35px;
    color:rgba(140,95,30.98,0.7)
}
.total-visited-country
{
    margin:7px 0px;
    color: rgba(160,100,35.98,1);
    font-size: 22px;
    border-bottom: 1px solid greenyellow;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 15px;
}

.flags
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin:30px auto;
     row-gap: 10px;
    padding:50px;
}
.flags img
{
    width: 180px;
    border-radius: 15px;
}